.App {
  font-family: 'Open Sans', sans-serif;
}
.logo {
  float: right;
  width: 100px;
  margin-top: 50px;
  margin-right: 50px;
}

iframe {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}